body {
    font-family: sans-serif;
}

.body-content {
    max-width: 800px;
    margin: auto;
}

nav {
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}

nav > .link {
    display: inline-block;
    padding: 0 20px;
}

nav > .link > a {
    color: #555;
    text-decoration: none;
}

nav > .link > a:hover {
    color: #000;
}

nav > .link > a > svg {
    vertical-align: bottom;
}

@media only screen and (max-width: 768px) {
    nav > .link > a > span {
        display: none;
    }
}

.hidden {
    display: none;
}